.conversationPanel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.msgPanel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    max-height: 400px;
    background: silver;
}

.msg {
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
    width: 75%;
    background: white;
}

.agentA,
.agentB {
    align-self: flex-start;
}

.player {
    align-self: flex-end;
}

.choicePanel {
    height: 100px;
    background: blue;
    flex-shrink: 0;
    flex-grow: 0;
}