
.msgWindow {
    display: flex;
    flex-flow: column nowrap;
}

.agent {
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
}

.agentother {}

.agentplayer {
    align-self: flex-end;
}
