
.msgWindow {
    display: flex;
    flex-flow: column nowrap;
}

.agent {
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
    width: 75%;
}

.agent-other {
    align-self: flex-start;
}

.agent-player {
    align-self: flex-end;
}
