/* Reset */
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: System, sans-serif;
  background: black url('assets/best_viewed.gif') repeat-x left center;
  color: white;
}

.hidden {
  display: none;
  visibility: hidden;
}

button {
  -webkit-appearance: none;
  appearance: none;
  background: silver;
  border: 2px outset lightgray;
  padding: 4px;
  font-weight: 800;
  cursor:pointer;
}
button:hover {
  background-color: #d0d0d0;
}


:global(#splash-logo) {
  background: url('assets/under_con.gif') no-repeat center center;
  height: 60px;
}

:global(#splash-footer) {
  background: url('assets/now_button.gif') no-repeat right bottom;
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 32px;
  width: 100%;
}