@value winBlue from 'shared/colors.css';

/* Wrapper */

.appWrapper {
  max-width: 400px;
  min-width: 320px;
  border: 2px solid black;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background: black;
}

/* Header */

.appHeader {
  background: var(--app-title-bg) url('assets/vert-grad-bar.png') repeat-x top center;
  background-blend-mode: overlay;
  padding: 4px;
  border: 2px outset var(--app-title-border);
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
}

.appHeader h1 {
  color: var(--app-title-text);
  font-weight: bold;
  font-size: 11px;
  padding-left: 20px;
  background: transparent url('assets/undercon.gif') no-repeat left center;
  background-size: 16px;
}

.closeBut {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: inline-block;
}

/* Nav */

.tabNav {
  background: var(--nav-bg);
}

.tabNav button {
  display: none;
  position: relative;
  padding-right: 32px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
  text-align: left;
  background-size: 20px;
  image-rendering: pixelated;
}

.tabNav button.activeTab {
  background-color: var(--nav-tab-active);
}
.tabNav button.visibleTab {
  display: inline-block;
}
.tabNav button.tabNotify:after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--nav-tab-notify);
  top: 0;
  right: 0;
}
.tabNav button[data-tab-id*="Chat"] {
  background-image:url('assets/chat.png');
}
.tabNav button[data-tab-id*="Media"] {
  background-image:url('assets/media.png');
}

/* Content */

.appTabWindow {
  display: block;
  flex-grow: 1;
  position: relative;
}
.appTabWrapper {
  display: none;
  background: black;
}
.appTabWrapper.activeContent {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

/* Footer */

.appFooter {
  background: var(--footer-bg);
  color: var(--footer-text);
  font-size: 11px;
  border: 2px outset var(--footer-border);
  flex-grow: 0;
  flex-shrink: 0;
}
