
.mediaPanel {
    background: var(--media-tab-bg);
    height: 100%;
    position: relative;
}

.mediaList {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.imageThumbnail {
    flex-basis: calc(33% - 10px);
    margin: 5px;
    padding-bottom: calc(33% - 10px);
    position: relative;
}

.imageThumbnail > img {
    bottom: 0;
    cursor: pointer;
    left: 0;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.imageThumbnail.unavailable {
    background: rgba(0, 0, 0, 0.3) url('assets/safe.png') no-repeat center;
}

.mediaDetail,
.mediaPacket {
    background-color: var(--app-dialog-bg);
    border: 2px outset var(--app-dialog-border);
    color: var(--app-dialog-text);
    margin: 5px;
    padding: 5px;
    position: absolute;
    top: 0;
    width: calc(100% - 10px);
    z-index: 5;
}

.mediaDetail > img {
    max-width: 100%;
}

.formRow {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

.formRow label {
    margin-right: 10px;
}

.formRow input {
    -webkit-appearance: none;
    appearance: none;
    border: 2px inset var(--app-dialog-border);
    flex-grow: 1;
    background-color: var(--media-passcode-bg);
    color: var(--media-passcode-text);
}

.mediaPacket > textarea {
    min-height: 200px;
    width: 100%;
}

.packetHeader {
    color: var(--media-payload-title);
    margin: 10px 0;
    text-align: center;
}

.errorMsg {
    color: red;
    text-align: center;
}

.complete::before {
    background: url('assets/green_tick.gif') no-repeat;
    background-size: cover;
    content: '';
    height: 100%;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.monochrome {
    background-color: var(--media-payload-bg);
    color: var(--media-payload-text);
    font-family: monospace;
    font-size: 1.5em;
}
