
.mediaPanel {
    background: white;
    height: 100%;
    position: relative;
}

.mediaList {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.imageThumbnail {
    flex-basis: calc(33% - 10px);
    margin: 5px;
    padding-bottom: calc(33% - 10px);
    position: relative;
}

.imageThumbnail > img {
    bottom: 0;
    cursor: pointer;
    left: 0;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.imageThumbnail.unavailable {
    background: rgba(0, 0, 0, 0.3) url('assets/closed_lock.png') no-repeat center;
}

.mediaDetail,
.mediaPacket {
    background-color: silver;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    position: absolute;
    top: 0;
    width: calc(100% - 10px);
}

.mediaDetail > img {
    max-width: 100%;
}

.formRow {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 10px;
}

.formRow label {
    margin-right: 10px;
}

.formRow input {
    flex-grow: 1;
}

.mediaPacket > textarea {
    min-height: 200px;
    width: 100%;
}

.packetHeader {
    color: red;
    margin: 10px 0;
    text-align: center;
}

.errorMsg {
    color: red;
    text-align: center;
}
