@value winBlue from 'shared/colors.css';

/* Wrapper */

.appWrapper {
  max-width: 400px;
  min-width: 320px;
  border: 2px solid black;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background: white;
  color: black;
}

/* Header */

.appHeader {
  background: winBlue url('assets/vert-grad-bar.png') repeat-x top center;
  background-blend-mode: overlay;
  padding: 5px;
  border: 2px outset silver;
  flex-shrink: 0;
  flex-grow: 0;
}

.appHeader h1 {
  color: white;
  font-weight: bold;
  font-size: 11px;
}

/* Nav */

.tabNav {
  background: blue;
}

.tabNav button {
  -webkit-appearance: none;
  appearance: none;
}
.tabNav button.active {
  background-color: yellow;
}

/* Content */

.appTabWindow {
  flex-grow: 1;
  background: silver;
}

/* Footer */

.appFooter {
  background: lightslategray;
  color: black;
  font-size: 11px;
  border: 2px outset silver;
  flex-grow: 0;
  flex-shrink: 0;
}